<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js">
    </script>
    <script>
        angular.module('weather', [])
            .controller('weatherctrl', function($scope, $http) {

                $scope.getWeather = function() {
                    var state= $scope.myState;
                        var city=$scope.myCity;
                    $http.get('http://api.wunderground.com/api/36b799dc821d5836/conditions/q/'+state+'/'+city+'.json').success(function(data) {
                        console.log(data);
                        temp = data.current_observation.temp_f;
                        icon = data.current_observation.icon_url;
                        weather = data.current_observation.weather;
                        console.log(temp);
                        $scope.currentweather = {
                            html: "Currently " + temp + " &deg; F and " + weather + ""
                        }
                        $scope.currentIcon = {
                            html: "<img src='" + icon + "'/>"
                        }

                    })
                }

            });
    </script>
    <style>
        .weatherModule {
            background: #f2f2f2;
            height: 150px;
            width: 250px;
            border: 1px dashed #ccc;
            padding: 1em;
        }
    </style>
</head>
<body>


<div align="center" ng-app="weather" ng-controller="weatherctrl">
   <h2> <caption>
        Weather Details</br>
   </caption></h2>
    State:
    <input  type="text" ng-model="myState"><br><br>
    City:
    <input type="text" ng-model="myCity"><br><br>
    <button id="btn" ng-click="getWeather()"> Show Weather </button>
    <br/>
    <br/>
    <div class="weatherModule">
        <p class="currentConditions" ng-bind-html-unsafe="currentweather.html"></p>
        <div class="currentIcon" ng-bind-html-unsafe="currentIcon.html"></div>
    </div>
</div>

</body>

</html>